<div class="relative h-screen">
  <video
    class="w-full h-full absolute object-cover"
    src="https://salt.tkbcdn.com/ts/ds/81/e8/51/5840b0e1615603feab3c22b22af92cdc.mp4"
    autoplay
    muted
    loop
    playsinline
  ></video>

<div class="h-screen ">
  <div class="pt-[15%] px-24 absolute h-full  text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">Wonder Winter</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">
      Thời gian : 08/12/2024 
    </p>
  <div>
    <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
      Buy
    </button>
    <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
      More Info
    </button>
  </div>
  </div>
</div>